name: xx_san_swtich
description: "VRChat OSC AvatarMover bridge."
publish_to: 'none'
version: 1.0.1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.3

flutter:
  uses-material-design: true

flutter_launcher_icons:
  windows:
    generate: true
    image_path: assets/icon/app_icon.png
